body {
  margin: auto;
  margin-top: 30px;
  line-height: 1.6;
  max-width: 65ch;
  letter-spacing: 0.02em;

  font-family: "Recursive", monospace;
}

/* TYPOGRAPHY */
h1,
h2,
h3 {
  font-weight: 600;
  line-height: 1.3;
}

p+p {
  margin-top: 1.5em;
}

a {
  color: #9e9eff;
}

/* navbar */
nav {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 32px;
  padding-right: 32px;

  background-color: #6400ee;

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  div {
    display: flex;
    flex-direction: row;
    gap: 32px;

    li {
      list-style: none;
    }
  }
}

/* writing */
#articles li {
  display: flex;
  justify-content: space-between;
}

#misc ul {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

#misc ul li {
  list-style: none;
}

/* footer */
footer hr {
  margin-top: 40px;
}

/* aside  */
aside {
  margin-left: 20px;
  font-style: italic;
}

/* code */
pre {
  display: block;
  padding: .5rem;
  overflow-x: auto;
  font-size: 0.9em;
  border-radius: 10px;

  font-family: "Iosevka Fixed Web", monospace;
}

.cool-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;
}

/* color scheme */
@media (prefers-color-scheme: dark) {
  body {
    color: #dfdfdf;
    background: #101010;
  }

  nav {
    background-color: #4b00b3;
  }

  a[href] {
    color: #9e9eff;
  }

  a[href]:visited {
    color: #bebedf;
  }
}
