@font-face {
    font-family: "Iosevka Web";
    font-display: swap;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    src:
        url("/assets/type/Iosevka-Regular.woff2") format("woff2"),
        url("/assets/type/Iosevka-Regular.ttf") format("truetype");
}
