<!doctype html>
<html lang="en">
  <head>
    {% include 'head/style' %}
    {% include 'head/scripts' %}
    <link rel="alternate" type="application/rss+xml" title="Blog" href="{{ site.url }}/feed.xml" />
  </head>
  <body>
    <header>
      {% include 'components/navbar' %}
    </header>

    <main>
      {{ content }}
    </main>

    <footer>
      {% include 'components/footer' %}
    </footer>
  </body>
</html>
